{
  "root": true,
  "plugins": ["@typescript-eslint", "jest", "import"],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "extends": ["eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    },
    {
      "files": ["*.test.ts", "*.test.js"],
      "env": {
        "jest": true
      },
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
